extends layout

block content
  form(class="article_form" action="" name="form")
    input(type="text" name="username" value="" placeholder="USERNAME")
    input(type="text" name="pwd" value="" placeholder="password")
    input(type="submit" name="submit" class="form-container__btn" value="Отправить")
    script(src='/javascripts/main.js')